<div>
    <h2 class="bg-primary text-white p-3">Giacomo's ToDo List </h2>
    <div class="m-1">
        <input class="form-control">
        <button class="btn btn-primary mt-1">Add new activity</button>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Lunch break</th>
                    <th>true</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th>Afternoon break</th>
                    <th>false</th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>Quick Revision</th>
                    <th>true</th>
                </tr>
                <tr>
                    <th>4</th>
                    <th>Publish online the project</th>
                    <th>false</th>
                </tr>
            </tbody>
        </table>

    </div>
</div>