<div>
    <h2 class="bg-dark text-white p-3">{{repository.user}}'s ToDo List, total activity : {{repository.items.length}}
    </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <table class="table table-bordered table-hover text-white table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of repository.items">
                            <th>{{item.id}}</th>
                            <th>{{item.description }}</th>
                            <th>{{item.done ? "Yes" : "No"}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 ">
                <label>New Activity: </label>
                <input type="text" class="form-control bg-secondary text-light" #newActivity>
                <button class="btn btn-warning mt-1 mb-2 " (click)="addActivity(newActivity)">Add new
                    activity</button>
            </div>
        </div>
    </div>
</div>