<div class="row">
    <div class="col-4 text-left ">
        <span class="ml-3">
            Copyright 2021 <a>Foolish developer</a>
        </span>
    </div>
    <div class="col-4 text-center ">
        <i class="fa-brands fa-facebook-square p-2"></i>
        <i class="fa-brands fa-linkedin p-2"></i>
        <i class="fa-brands fa-twitter-square p-2"></i>
    </div>
    <div class="col-4 p-1 text-right">
        <a routerLink="/home" class="p-2">Home</a>
        <a routerLink="/about" class="p-2">About</a>
        <a routerLink="/contacts" class="p-2">Contacts</a>
        <a routerLink="/blog" class="p-2 mr-4">Blog</a>
    </div>
</div>