<div class="container-fluid ">
    <div class="row">
        <div class="col-8 mx-auto">

            <table class="table table-bordered table-hover text-white table-dark table-striped mt-3 ">
                <thead>
                    <tr class="text-center">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of getProducts() " class="text-center">
                        <td><img src="{{prod.image}}" class="rounded"></td>
                        <td>{{prod.name}}</td>
                        <td>{{prod.price | currency : 'EUR'}}</td>
                        <td>{{prod.description}}</td>
                        <td>
                            <button (click)="removeProduct(prod.id!)" class="btn btn-danger btn-sm m-2">remove
                            </button>
                            <button class="btn btn-warning m-2 btn-sm" [routerLink]="['/modify/' + prod.id]">modify
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>