<div class="container-fluid ">
    <header class="row mb-2 border-bottom border-light">
        <div class="col-3"><img id="logo" src="../../../assets/logo.png" alt="Logo"></div>
        <div class="col-9 text-right "><a class="navbar-brand" routerLink="/home"><img class="w-100" id="logo"
                    src="../../../assets/amaizoon.png" alt="amaizoon"></a></div>
    </header>
    <div class="row">
        <div class="col-3 mt-2 p-2">
            <button class="btn btn-outline-primary btn-block" routerLink="order-management"
                (click)="selectedPage = 'order'" [class.active]="selectedPage== 'order'">Order management</button>
            <button class=" btn btn-outline-primary btn-block" routerLink="product-management"
                (click)="selectedPage = 'product'" [class.active]="selectedPage== 'product'">Product
                management</button>
        </div>
        <div class=" col-9 p-5">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>