<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="setOpen()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-raised-button color="warn">
        Home
    </button>
    <button mat-raised-button color="warn">
        Admin
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container home ">
    <mat-drawer class="sidebar" mode="side" [opened]="open">Drawer content</mat-drawer>
    <mat-drawer-content>
        <app-home></app-home>
    </mat-drawer-content>
</mat-drawer-container>