<div class="container-fluid m-2">
    <div class="row bg-secondary rounded">
        <button routerLink="/home" class="btn btn-dark m-1">Home</button>
        <button routerLink="/about" class="btn btn-dark m-1">About</button>
        <button routerLink="/services" class="btn btn-dark m-1">Serivces</button>
        <button routerLink="/products" class="btn btn-dark m-1">Products</button>
        <button routerLink="/contacts" class="btn btn-dark m-1">Contact</button>
        <button routerLink="/add" class="btn btn-dark m-1">Add Product</button>
    </div>
</div>